footer {
    height: auto;
    padding-bottom: 25px;
}

.footerstart {
    align-items: center; 
    display: flex;
    img {
        height: 35px;
    }
    .titlefooter {
        padding-left:10px;
        font-size: 1.9em;
    }
  }